@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

@layer base {
  .max-container {
    @apply max-w-[1440px] mx-auto;
  }

  .padding-container {
    @apply px-4 md:px-8 lg:px-16;
  }

  .navbar {
    @apply flex items-center justify-between;
  }
  .navbar-title {
    @apply text-2xl font-bold capitalize;
  }
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
}

.toast.show {
  opacity: 1;
}

.toast.error {
  background-color: #ff6347; /* Red */
}

.toast.success {
  background-color: #32cd32; /* Green */
}

.toast.warning {
  background-color: #ffa500; /* Orange */
}

.toast .close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
